:root {
    --primary-color: #333330;
    --link-color: #007BFF;
    --link-hover-color: #0056b3;
    --spacing-sm: 16px;
    --spacing-md: 24px;
}

body {
    max-width: 600px;
    margin: 64px auto;
    padding: 60px 40px 100px;
    color: var(--primary-color);
    font-family: 'Inter', sans-serif;
}
strong {
    font-weight: normal;
}
hr {
    border: none;
    height: 1px;
    background-color: #ebebeb;
}
h3 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.5px;
}
h4 {
    margin: 0;
}
p {
    line-height: 24px;
    margin: 0;
    margin-bottom: 8px;
}

a {
    text-decoration: none;
    color: var(--link-color);
    margin-bottom: 0;
}

a:hover {
    text-decoration: underline;
    color: var(--link-hover-color);
}

#articles-list {
    list-style: none;
    padding: 0;
}

li {
    padding-bottom: 8px;
    line-height: 24px;
}

li:last-child {
    padding: 0;
}

img {
    border-radius: 16px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
    transform: scale(1.05) rotate(5deg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
